<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>43.203.118.56:5000</destination> <!-- EC2 B의 IP 주소 -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="ELK_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="LOGSTASH"/>
    </logger>
</configuration>
