@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';
@import 'tw-animate-css';

*::-webkit-scrollbar {
  height: 4px;
  padding: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-gray-950);
  border-radius: 2px;
  width: 6px;
  height: 4px;
  padding: 2px;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Font Family */
  --font-sans: 'Pretendard', system-ui, sans-serif;

  /* Font Sizes */
  --font-size-display-2xl: 72px;
  --font-size-display-xl: 60px;
  --font-size-display-lg: 48px;
  --font-size-display-md: 36px;
  --font-size-display-sm: 30px;
  --font-size-display-xs: 24px;
  --font-size-text-xl: 20px;
  --font-size-text-lg: 18px;
  --font-size-text-md: 16px;
  --font-size-text-sm: 14px;
  --font-size-text-xs: 12px;

  /* Line Heights */
  --line-height-display-2xl: 90px;
  --line-height-display-xl: 72px;
  --line-height-display-lg: 60px;
  --line-height-display-md: 44px;
  --line-height-display-sm: 38px;
  --line-height-display-xs: 32px;
  --line-height-text-xl: 30px;
  --line-height-text-lg: 28px;
  --line-height-text-md: 24px;
  --line-height-text-sm: 20px;
  --line-height-text-xs: 18px;

  /* Letter Spacing */
  --letter-spacing-display: -2%;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Color Blue(Primary) */
  --color-blue-50: #f1f3ff;
  --color-blue-100: #a2b0fd;
  --color-blue-200: #889cfe;
  --color-blue-300: #6079f9;
  --color-blue-400: #324eef;
  --color-blue-500: #162ea5;
  --color-blue-600: #0e1c6d;
  --color-blue-700: #0e132e;

  /* Color Gray */
  --color-gray-50: #f6f7f8;
  --color-gray-100: #ebecee;
  --color-gray-200: #d5d7da;
  --color-gray-300: #c5c8cb;
  --color-gray-400: #a8acb2;
  --color-gray-500: #92969f;
  --color-gray-600: #82858e;
  --color-gray-700: #747781;
  --color-gray-800: #62646b;
  --color-gray-900: #505258;
  --color-gray-950: #343437;

  /* Color Red */
  --color-red-50: #fff1f1;
  --color-red-100: #ffdfdf;
  --color-red-200: #ffc5c5;
  --color-red-300: #ff9d9d;
  --color-red-400: #ff6464;
  --color-red-500: #ff4d4d;
  --color-red-600: #ed1515;
  --color-red-700: #c80d0d;
  --color-red-800: #a50f0f;
  --color-red-900: #881414;
  --color-red-950: #4b0404;

  /* Color Yellow */
  --color-yellow-50: #fefce8;
  --color-yellow-100: #fff9c2;
  --color-yellow-200: #ffec6b;
  --color-yellow-300: #ffe045;
  --color-yellow-400: #fccb13;
  --color-yellow-500: #ecb206;
  --color-yellow-600: #cc8902;
  --color-yellow-700: #a26106;
  --color-yellow-800: #864c0d;
  --color-yellow-900: #723e11;
  --color-yellow-950: #432005;

  /* Radius 4px, 6px, 8px, 16px */
  --radius-sm: calc(var(--radius) - 6px);
  --radius-md: calc(var(--radius) - 4px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 6px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
