<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentMapper">

	    <!-- 공통 컬럼 정의 -->
    <sql id="contentColumns">
        C.content_seq,
        C.video_id,
        C.url,
        C.title,
        C.description,
        C.category,
        C.thumbnail_url,
        C.duration,
        C.process_status,
        C.indate,
        C.completed_at,
        C.delete_yn,
        (SELECT GROUP_CONCAT(tag SEPARATOR ',') FROM fb_ai_content_tags WHERE content_seq = C.content_seq) AS tags
    </sql>

	<insert id="insertContent" parameterType="RequestBox" useGeneratedKeys="true" keyProperty="contentSeq">
	  INSERT INTO fb_ai_contents
	  <trim prefix="(" suffix=")" suffixOverrides=",">
	    url,
	    title,
	    duration,
	    indate,
	    <if test="videoId != null">video_id,</if>
	    <if test="description != null">description,</if>
	    <if test="category != null">category,</if>
	    <if test="thumbnailUrl != null">thumbnail_url,</if>
	    <if test="processStatus != null">process_status,</if>
	    <if test="completedAt != null">completed_at,</if>
	    <if test="deleteYn != null">delete_yn,</if>
	  </trim>
	  VALUES
	  <trim prefix="(" suffix=")" suffixOverrides=",">
	    #{url},
	    #{title},
	    #{duration},
	    #{indate},
	    <if test="videoId != null">#{videoId},</if>
	    <if test="description != null">#{description},</if>
	    <if test="category != null">#{category},</if>
	    <if test="thumbnailUrl != null">#{thumbnailUrl},</if>
	    <if test="processStatus != null">#{processStatus},</if>
	    <if test="completedAt != null">#{completedAt},</if>
	    <if test="deleteYn != null">#{deleteYn},</if>
	  </trim>
	</insert>

</mapper>