<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firzzle.llm.mapper.ChatMapper">

    <insert id="insertChat" parameterType="com.firzzle.llm.dto.ChatDTO">
        INSERT INTO fb_ai_chats (
            content_seq, user_seq, question, answer, indate
        ) VALUES (
            #{contentSeq}, #{userSeq}, #{question}, #{answer}, #{indate}
        )
    </insert>

    <select id="selectChatsWithPagination" resultType="com.firzzle.llm.dto.ChatDTO">
        SELECT
            chat_seq, content_seq, user_seq, question, answer, indate
        FROM fb_ai_chats
        WHERE content_seq = #{contentSeq}
          AND user_seq = #{userSeq}
          <if test="lastChatSeq != null">
              AND chat_seq &lt; #{lastChatSeq}
          </if>
        ORDER BY chat_seq DESC
        LIMIT #{limit}
    </select>

</mapper>