<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firzzle.llm.mapper.OxQuizMapper">
   <insert id="insertQuestion" parameterType="com.firzzle.llm.dto.OxQuizDTO">
    INSERT INTO fb_ai_questions (
        content_seq,
        question,
        type,
        correct_answer,
        explanation,
        start_time,
        delete_yn
    ) VALUES (
        #{contentSeq},
        #{question},
        #{type},
        #{correctAnswer},
        #{explanation},
        #{startTime},
        #{deleteYn}
    )
	</insert>

   <insert id="insertQuestions" parameterType="java.util.List">
        INSERT INTO fb_ai_questions (
            content_seq,
            question,
            type,
            correct_answer,
            explanation,
            start_time,
            delete_yn
        )
        VALUES
        <foreach collection="list" item="q" separator=",">
            (
                #{q.contentSeq},
                #{q.question},
                #{q.type},
                #{q.correctAnswer},
                #{q.explanation},
                #{q.startTime},
                #{q.deleteYn}
            )
        </foreach>
    </insert>
    
    
    <insert id="insertOption" parameterType="com.firzzle.llm.dto.OxQuizOptionDTO">
        INSERT INTO fb_ai_question_options (
            question_seq, option_value
        ) VALUES (
            #{questionSeq}, #{optionValue}
        )
    </insert>

    <insert id="insertOptionList" parameterType="java.util.List">
        INSERT INTO fb_ai_question_options (
            question_seq, option_value
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.questionSeq}, #{item.optionValue})
        </foreach>
    </insert>
</mapper>