<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="C:/development/log" />

    <!-- console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- File appender (rolling) -->
    <appender name="FILELOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/firzzle.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/firzzle-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="DBCP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/firzzle_dbcp.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/firzzle_dbcp-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILELOG" />
    </root>

    <logger name="p6spy" level="info" additivity="true">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.springframework" level="error" additivity="true">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILELOG" />
    </logger>

    <logger name="jdbc.audit" level="error" additivity="true">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILELOG" />
    </logger>

    <logger name="jdbc.resultsettable" level="error" additivity="true">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILELOG" />
    </logger>

    <logger name="jdbc.sqltiming" level="error" additivity="true">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILELOG" />
    </logger>

    <logger name="com.zaxxer.hikari" level="error" additivity="true">
        <appender-ref ref="DBCP_LOG" />
    </logger>

    <logger name="com.firzzle" level="info" additivity="true">
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>